@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&display=swap');

:root {
    --cor-primaria: #8E3837;
    --cor-secundaria: #000000;

    --fonte-primaria: 'Caveat', cursive;
	--fonte-secundaria: 'Open Sans', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}

body{
	box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    display: flex;
    justify-content: right;}

.cabecalho__paginas{
	display: flex;
    justify-content: center;
}

.cabecalho__imagem{
	width: 40%;
}

.apresentacao{
    padding: 1% 1%;
}
	
.apresentacao__conteudo{
    width: 100%;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto{
    display: flex;;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    width: 100%;
}

.apresentacao__conteudo__assinatura{
    font-size: 3rem;
    font-family: var(--fonte-primaria);
}

.aprensetacao_paginas{
	padding: 1% 1%;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape{
  position: fixed;
  bottom: 0;
  width: 80%;
}

.rodape_imagem{
    padding: 10% 0% 0% 20%;
	width: 80%;
	opacity: 0.10;
}

.apresentacao__imagem{
    padding: 0% 0% 0% 95%;
	width: 30%;
	opacity: 0.3;
}

.mensagem{
	display: flex;
	justify-content: space-between;
}

.mensagem__iframe{
    width: 50%;
    height: 300;
}

@media (max-width: 1200px){
    .cabecalho{
        display: flex;
        justify-content: center;
    }

    .cabecalho__align{
        display: flex;
        justify-content: center;
        padding-left: 40%;
        padding-top: 2%;
    }

    .cabecalho__imagem{
        width: 40%;
    }

    .cabecalho__paginas{
        display: flex;
        justify-content: center;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
    }

    .apresentacao__conteudo__titulo{
        display: flex;
        font-size: 1.9rem;
        justify-content: center;
    }

    .apresentacao__imagem{
        padding: 0% 0% 0% 90%;
        width: 30%;
        opacity: 0.3;
    }

    .aprensetacao_paginas{
        padding: 1% 1%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .mensagem{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .mensagem__iframe{
        width: auto;
        height: auto;
    }

    .rodape_imagem{
        padding: 10% 0% 0% 20%;
        width: 10%;
        opacity: 0.10;
    }
}